RewriteEngine On
#RewriteCond %{HTTP_HOST} !^www\.b5yazilim\.com
#RewriteRule (.*) https://www.b5yazilim.com/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteBase /

RewriteRule ^(.*)$ index.php?/$1 [L]
